/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

a{
  color:black;
  font-size:14px;
}

#top_bar {
	height:100px;
	width:100%;
   img {
    	position:relative;
    	margin:30px 0px 0px 15px;
    }

   #banner {
    font-size:50px;
    margin:-35px 0px 0px 65px;

    p {
      font-size:13px;
    	margin-left:91px;
    }
   }
   #logout {
    label {
      float:right;
    }
    width : 301px;
    font-size : 20px;
   	float:right;
   	margin-top:-106px;
    #header_links {
      float : right;
      margin-top:0px;
    }   
   }
   #search_by_project {
    float:right;
    margin-top : -50px;
    margin-right : 5px;
   }
}
